{% extends 'quiz/Base.html' %}
{% load widget_tweaks %}
{% block content %}
  <div class="container" style="margin-top: 100px;font-family: Courier;">
        {% if validlink %}
            <h3><strong>Change password</strong></h3>
    <form method="post">
      {% csrf_token %}
      {% for x in form %}
        {{ x.errors }}
        {{ x.label_tag }}
        {{ x|attr:'class:form-control' }}
    {% endfor %}
       <br>
    <button type="submit" class="btn btn-danger btn-block">Confirm</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </div>
{% endblock %}