{% extends 'quiz/Base.html' %}
{% block content %}
    <div class="container" style="margin-top: 100px;font-family: Courier;">


         <h2 style="text-align: center;">Views</h2>
         <table class="table table-hover table-bordered ">
           <tr style="color: #609ab6;">
               <th>Home view</th>
               <th>Title view</th>
               <th>Question view</th>
           </tr>
          <tr>
                <td>{{ home_views.views }}</td>
                <td>{{ title_views.views }}</td>
                <td>{{ question_views.views }}</td>
          </tr>
          </table>


    <h2 style="text-align: center;">Video Views<span class="badge">{{ total_video_view }}</span></h2>
          <table class="table table-hover table-bordered">
              <tr style="color: #609ab6;">
                  <th>Playlist</th>
                  <th>Views</th>
              </tr>
                  <tr>
                     <td>Computer Science</td>
                     <td>{{computer_science_views.view}}</td>
                  </tr>
              <tr>
                     <td>Current Affairs</td>
                     <td>{{ current_affairs_views.view }}</td>
                  </tr>
              <tr>
                     <td>General Knowledge</td>
                     <td>{{general_knowledge_views.view}}</td>
                  </tr>
              <tr>
                     <td>General Science</td>
                     <td>{{general_science_views.view}}</td>
                  </tr>
              <tr>
                     <td>Government Exam</td>
                     <td>{{government_exam_views.view }}</td>
                  </tr>
          </table>


         <h2 style="text-align: center;">Acitve Users<span class="badge">{{ active.count }}</span></h2>
         <table class="table table-hover table-bordered">
            <tr style="color: #609ab6;">
               <th>User</th>
                <th>Last Login</th>
            </tr>
             {% for x in active %}
            <tr>
              <td>{{ x.username }}</td>
              <td>{{ x.last_login }}</td>
            </tr>
             {% endfor %}
         </table>

        <h2 style="text-align: center;">All Users<span class="badge">{{ users.count }}</span></h2>
          <table class="table table-hover table-bordered">
              <tr style="color: #609ab6;">
                  <th>Username</th>
                  <th>Email_id</th>
                  <th>Last login</th>
              </tr>
              {% for user in users %}
                  <tr>
                     <td>{{ user.username }}</td>
                     <td>{{ user.email }}</td>
                     <td>{{ user.last_login }}</td>
                  </tr>
              {% endfor %}
          </table>

    </div>
{% endblock %}