{% extends 'videos/main.html' %}
{% block video %}
        <div>
            <div style="font-size: 15px;"><a href="{% url 'video' %}"><span>ALL TRACKS</span></a><span class="glyphicon glyphicon-chevron-right"></span><span>COMPUTER SCIENCE</span></div><br>
        </div>
        <div class="card" style="width: 250px;">
            <iframe class="card-img-top" width="250" height="150" src="https://www.youtube-nocookie.com/embed/sM7wYk6OT18" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <div class="card-body">
           <h5 class="card-title">Video-1</h5>
           <p class="card-text">Computer Science || Q/A part-I</p>
           </div>
        </div>
       <div class="card" style="width: 250px;">
            <iframe class="card-img-top" width="250" height="150" src="https://www.youtube-nocookie.com/embed/pkj2g0GwXf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <div class="card-body">
           <h5 class="card-title">Video-2</h5>
           <p class="card-text">Computer Science || Q/A part-II</p>
           </div>
        </div>
{% endblock %}