{% extends 'videos/main.html' %}
{% block video %}
        <div>
            <div style="font-size: 15px;"><a href="{% url 'video' %}"><span>ALL TRACKS</span></a><span class="glyphicon glyphicon-chevron-right"></span><span>GENERAL KNOWLEDGE</span></div><br>
        </div>
        <div class="card" style="width: 250px;">
            <iframe width="250" height="150" class="card-img-top" src="https://www.youtube-nocookie.com/embed/GD2voxaieQI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <div class="card-body">
           <h5 class="card-title">Video-1</h5>
           <p class="card-text">Q/A on Earth</p>
           </div>
        </div>
    <div class="card" style="width: 250px;">
            <iframe width="250" height="150" class="card-img-top" src="https://www.youtube-nocookie.com/embed/uGOXuWUWsJ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <div class="card-body">
           <h5 class="card-title">Video-2</h5>
           <p class="card-text">Q/A on Police</p>
           </div>
        </div>
    <div class="card" style="width: 250px;">
            <iframe width="250" height="150" class="card-img-top" src="https://www.youtube-nocookie.com/embed/wA50IWDWbKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <div class="card-body">
           <h5 class="card-title">Video-3</h5>
           <p class="card-text">Q/A on Invention</p>
           </div>
        </div>
    <div class="card" style="width: 250px;">
           <iframe class="card-img-top" width="250" height="150" src="https://www.youtube-nocookie.com/embed/5Rk4dYoj31I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>           <div class="card-body">
           <h5 class="card-title">Video-4</h5>
           <p class="card-text">Q/A on Animals</p>
           </div>
        </div>
    <div class="card" style="width: 250px;">
            <iframe class="card-img-top" width="250" height="150" src="https://www.youtube-nocookie.com/embed/WL7TpgsMJWw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe>
           <div class="card-body">
           <h5 class="card-title">Video-5</h5>
           <p class="card-text">Q/A on World's largest</p>
           </div>
        </div>
{% endblock %}