{% extends 'videos/main.html' %}
{% block video %}
        <div>
            <div style="font-size: 15px;"><a href="{% url 'video' %}"><span>ALL TRACKS</span></a><span class="glyphicon glyphicon-chevron-right"></span><span>GENERAL SCIENCE</span></div><br>
        </div>
        <div class="card" style="width: 250px;">
            <iframe class="card-img-top" width="250" height="150"  src="https://www.youtube-nocookie.com/embed/YGzqInNQQec" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen><h4></h4></iframe>
           <div class="card-body">
           <h5 class="card-title">Video-1</h5>
           <p class="card-text">General Science || Part-I</p>
           </div>
        </div>
        <div class="card" style="width: 250px;">
            <iframe class="card-img-top" width="250" height="150"  src="https://www.youtube-nocookie.com/embed/1_0VCMzznt8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen><p></p></iframe>
           <div class="card-body">
           <h5 class="card-title">Video-2</h5>
           <p class="card-text">General Science || Part-II</p>
           </div>
        </div>
        <div class="card" style="width: 250px;">
            <iframe class="card-img-top" width="250" height="150" src="https://www.youtube-nocookie.com/embed/MiLjJZ4BQqA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><p></p></iframe>
           <div class="card-body">
           <h5 class="card-title">Video-3</h5>
           <p class="card-text">General Science || Part-III</p>
           </div>
        </div>
        <div class="card" style="width: 250px;">
            <iframe class="card-img-top" width="250" height="150" src="https://www.youtube-nocookie.com/embed/Vzj58935XcI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><p></p></iframe>
           <div class="card-body">
           <h5 class="card-title">Video-4</h5>
           <p class="card-text">General Science || Part-IV</p>
           </div>
        </div>
       <div class="card" style="width: 250px;">
            <iframe class="card-img-top" width="250" height="150" src="https://www.youtube-nocookie.com/embed/EBNVmu2susM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><p></p></iframe>
           <div class="card-body">
           <h5 class="card-title">Video-5</h5>
           <p class="card-text">General Science || Part-V</p>
           </div>
        </div>
{% endblock %}